# Ignore user's workspace
workspace/

# Build directory
build/

# clangd cache and code completion files
.cache
compile_commands.json

# Blender temporary files
*.blend1

# CLI export artifacts
export/
out/
error_log.log
**/_cli_export_main.mr
